<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div id="wrap">
    <div id="header">
        <div id="nav">
            <ul id="links">
                <li>
                    <a>
                        <form th:action="@{/admin}" th:method="GET">
                            <input sec:authorize="hasRole('ROLE_ADMIN')" type="submit" value="Панель администратора">
                        </form>
                    </a>
                </li>
                <li>
                    <a>
                        <form th:action="@{/home/mybook}" th:method="GET">
                            <input sec:authorize="isAuthenticated()" type="submit" value="Мои книги">
                        </form>
                    </a>
                </li>
                <li>
                    <a>
                        <form th:action="@{/home}" th:method="GET">
                            <input type="submit" value="Книги">
                        </form>
                    </a>
                </li>
                <li>
                    <a>
                        <form th:action="@{/home/profile}" th:method="GET">
                            <input sec:authorize="isAuthenticated()" type="submit" value="Профиль">
                        </form>
                    </a>
                </li>
                <li>
                    <a>
                        <form th:action="@{/auth/login}" th:method="GET">
                            <input sec:authorize="isAnonymous()" type="submit" value="Войти">
                        </form>
                        <form th:action="@{/logout}" th:method="POST">
                            <input sec:authorize="isAuthenticated()" type="submit" value="Выйти">
                        </form>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<p th:text="${'Название: ' +book.getName()}">VALUE</p>
<p th:text="${'Автор: ' +book.getAuthor()}">VALUE</p>
<p th:text="${'Дата релиза: ' +book.getReleaseDate()}">VALUE</p>
<p th:text="${'Страниц: ' +book.getPages()}">VALUE</p>
<p th:text="${'Людей брали: ' +book.getTook()}">VALUE</p>

<hr/>

<form th:method="POST" th:action="@{/home/book/{id}(id=${book.getBookId()})}">
  <input title = "Чтобы добавить книгу, нужно авторизироваться" disabled sec:authorize="isAnonymous()" type="submit" value="Добавить себе"/>
</form>

<span th:switch="${bookTakeTest}">
  <i th:case="true">
      <p>Вы уже взяли эту книгу</p>
  </i>
  <i th:case="false">
      <form th:method="POST" th:action="@{/home/book/{id}(id=${book.getBookId()})}">
        <input sec:authorize="isAuthenticated()" type="submit" value="Добавить себе"/>
    </form>
  </i>
</span>
</body>
</html>